@import "grid.css";
@import url(//fonts.googleapis.com/css?family=Open+Sans:300,400,600,700);
body{
    line-height: 20px;
    color: #4c4c4c;
    background: url(../images/bg.jpg) repeat;
    font: normal 14px Arial;
}

p{
    padding-bottom: 20px;
    line-height: 20px;
}

h2{
    font: 400 36px 'Open Sans', sans-serif;
}

h3{
    font: 400 29px 'Open Sans', sans-serif;
}

h4{
    font: 700 18px 'Open Sans', sans-serif;
}

h2,h3{
    text-transform: uppercase;
}

h1,h2,h3,h4{
    color: #0052da;
}

h1, h2, h3, h4{
    font-family: 'Open Sans', sans-serif;
}

ul > li{
    display: inline-block;
}

a{
    text-decoration: none;
}

a:hover{
    text-decoration: underline;
}

.devider{
    background-color: #d8d5d5;
    min-height: 1px;
}

.devider, .container-wrapper{
    margin: 0 auto;
}

#footer .container, #content .container{
    background: #fff;
}

.bg-green{
    background: #92ce0a;
}

.bg-yellow{
    background: #ffe202;
}

.bg-blue{
    background: #0052da;
}

.bg-orange{
    background: #ff7f00;
}

.bg-red{
    background: #ff5241;
}

.bg-sky{
    background: #04bacf;
}

.btn{
    display: block;
    text-align: center;
    text-transform: uppercase;
    color: #fff;
    font: 600 16px 'Open Sans', sans-serif;
}

.btn:hover{
    text-decoration: none;
}

.btn:active{
    box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125);
    -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125);
    -moz-box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125);
}

#header{
     margin-top: 24px;
     margin-bottom: 16px;
}

.menu{
    word-spacing: -4px;
}

.menu > ul > li > a{
    min-width: 70px;
    padding: 8px 20px;
}

.menu > ul > li > a.active{
    position: relative;
    z-index: 1000;
    -webkit-box-shadow: 4px 4px 5px 0px rgba(50, 50, 50, 0.75);
    -moz-box-shadow:    4px 4px 5px 0px rgba(50, 50, 50, 0.75);
    box-shadow:         4px 4px 5px 0px rgba(50, 50, 50, 0.75);
}

#content .figure-wrapper > .figure{
    width: 33.333333333333333333333333333332%;
}

.figure-wrapper{
    word-spacing: -4px;
    margin-bottom: 50px;
}

.figure{
    display: inline-block;
}

.figure > img{
    max-width: 100%;
    width: 100%;
    height: auto;
}

.figure > figcaption{
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    color: #fff;
    text-transform: uppercase;
    text-align: center;
}

.well > .caption > h2 > a{
    padding: 10px;
    font-size: 36px;
}

.well > .caption > h2.heading{
    padding-top: 20px;
    padding-bottom: 20px;
    line-height: 28px!important;
    font: 300 28px 'Open Sans', sans-serif;
    text-transform: none;
    color: #625f5f;
}

.jumbotron-wrapper{
    background-color: #f8f8f8;
    margin-bottom: 62px;
}

.jumbotron > .caption > h3{
    padding: 10px;
    background-color: #04bacf;
    font-size: 22px;
    text-align: center;
    color: #fff;
}

.jumbotron .caption p{
    padding: 10px;
    min-height: 32px;
}

.jumbotron > p > a,
.jumbotron > .caption > p > a{
    float: right;
    padding: 5px 10px;
}

.jumbotron > .match-height2 > .caption > p{
    padding: 10px 0px 0px;
}

.jumbotron > .match-height2 > .caption > time{
    display: block;
    padding-top: 10px;
    font-size: 18px;
    color: #625f5f;
}

.jumbotron > img{
    width: 223px;
    height: 120px;
    float: left;
}

.jumbotron .caption{
    min-height: 120px;
}

.match-height3{
    display: block;
}

.slider{
    margin-top: 20px;
}

.slider-header{
    position: relative;
    padding-right: 65px;
}

#slider-next{
    position: absolute;
    right: 0;
    top: 8px;
}

#slider-prev{
    position: absolute;
    right: 30px;
    top: 8px;
}

.slider-btn{
    padding: 8px 8px 2px;
    text-align: center;
    background-color: #92ce0a;
    line-height: 16px;
    color: #fff;
    font: 600 16px 'Open Sans', sans-serif;
}

.slider-btn:hover{
    text-decoration: none;
}

.slider-btn:active{
    box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125);
    -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125);
    -moz-box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125);
}

.slick-slide{
    min-height: 176px;
}

.slide{
    display: block;
    margin: 0 10px;
    text-align: center;
}

.slide > a{
    display: block;
    padding: 15px 15px 5px;
}

.slide > a > img{
    width: 100%;
    max-width: 100%;
    height: auto;
}

.slide > figcaption{
    padding: 5px 15px 15px;
    text-align: center;
    color: #fff;
    font: 700 20px 'Open Sans', sans-serif;
}

.scroll-btn{
    position: relative;
}

.scroll-btn > a{
    position: absolute;
    left: 1500px;
    bottom: 200px;
    padding: 5px 12px;
    font-size: 24px;
    color: #fff;
}

#footer{
    margin-bottom: 40px;
}

#footer p{
    font: 400 12px 'Open Sans', sans-serif;
    padding: 0px;
}

#footer .container{
    padding-top: 50px;
}

.social > li > a{
    display: block;
    min-width: 40px;
    padding: 10px;
    line-height: 36px;
    font-size: 36px;
    text-align: center;
    color: #fff;
}

@media (min-width: 980px){
    body{
        overflow-x: hidden;
    }

    #header .logo{
        float: left;
    }

    #header .menu{
        float: right;
    }

    #content .figure-wrapper{
        padding-right: 20px;
    }

    #content .figure-wrapper > .figure > figcaption{
        font-size: 36px;
        padding: 20px 30px;
    }

    #content .slider{
        margin-bottom: 70px;
    }


    #footer .devider{
        margin-left: -53px;
        padding: 0 53px;
    }

    #footer .devider, .container-wrapper{
        width: 940px;
    }

    #footer .social{
        float: right;
    }

    .container-wrapper{
        border: 53px solid #fff;
    }


}

@media (min-width: 768px) and (max-width: 979px){
    body{
        overflow-x: hidden;
    }
    #header{
        text-align: center;
    }

    #header .logo, #header .menu{
        display: inline-block;
        float: none;
        margin: 0 auto 20px;
    }

    #content .figure-wrapper > .figure > figcaption{
        font-size: 36px;
        padding: 20px 30px;
    }

    #content .slider{
        margin-bottom: 30px;
    }

    #footer .devider{
        margin-left: -20px;
        padding: 0 20px;
    }

    #footer .devider, .container-wrapper{
        width: 748px;
    }

    #footer .social{
        float: right;
    }

    .container-wrapper{
        border: 20px solid #fff;
    }

    .scroll-btn{
        overflow: hidden;
    }

}

@media (max-width: 767px){

    #header .logo{
        text-align: center;
    }

    #header .logo, #header .menu{
        display: block;
        float: none;
        margin: 0 auto 20px;
    }

    #header .menu > ul > li{
        display: block;
    }

    #content .figure-wrapper .figure > figcaption{
        font-size: 24px;
        padding: 10px 20px;
    }

    #content h2{
        font-size: 30px;
    }

    #content .slider{
        margin-top: 20px;
        margin-bottom: 30px;
    }

    #content .jumbotron{
        margin-bottom: 30px;
        text-align: center;
    }

    #content .jumbotron > img{
        display: inline-block;
        float: none;
    }

    #content .jumbotron .caption{
        text-align: left;
    }

    #footer{
        text-align: center;
    }

    #footer .devider{
        margin-left: -15px;
        padding: 0 15px;
    }

    #footer .devider, .container-wrapper{
        width: 420px;
    }

    #footer .credits{
        margin-bottom: 20px;
    }

    #footer .social{
        display: inline-block;
        float: none;
    }

    .container-wrapper{
        border: 15px solid #fff;
    }

    .scroll-btn{
        overflow: hidden;
    }
}

@media (max-width: 479px){
    #content .slick-slider .slick-track{
        height: 98px!important;
    }

    #content .figure-wrapper .figure > figcaption{
        font-size: 18px;
        padding: 5px 10px;
    }

    #footer .devider{
        margin-left: -10px;
        padding: 0 10px;
    }

    #footer .devider, .container-wrapper{
        width: 300px;
    }

    .container-wrapper{
        border: 10px solid #fff;
    }
}